/*for font families*/

$primary-font: "Open Sans";

/*for text colors*/

$primary: #ffffff;
$primary-black: #000000;
$secondary: #404e4e;
$secondary-grey: #b4adad;

/*for input borders*/

$tertiary-grey: #e5e5e5;
$quaternary-grey: #d8d8d8;
$quinary-grey: #938e8e;

/*for all kind of backgrounds*/

$primary-blue: #227dd3;
$primary-green: #5fc18b;
$secondary-green: #44a36f;
$tertiary-green: #43a06d;
$dark-green: #308355;

/*for font sizes*/

$extra_large: 49px;
$large: 39px;
$extra-medium: 27px;
$medium: 26px;
$extra-small: 15px;
$small: 14px;

/*for media queries*/

$spec_scrn: 1920px;
$extra_large_scrn: 1284px;
$large_scrn: 1200px;
$extra_medium_scrn: 992px;
$medium_scrn: 768px;
$extra_small_scrn: 575px;
$small_scrn: 375px;
