@import "./reset";
@import "./configs";
@import "./maps";
@import "./mixins";
@import "./intro";
@import "./documents";
@import "./responsive-tablets";
@import "./responsive-computers";
@import "./feedback";
@import "./footer";

body {
  font-family: $primary-font, sans-serif;
  background-color: $dark-green;
}

.container {
  width: 870px;
  margin: 0 auto;
}
